.nav-btn {
    background: var(--main);
    color: var(--secondary);
    border: 2px solid var(--main);
    padding: 6px 20px;
    border-radius: 5px;
    font-size: 14px;
    font-weight: var(--fw-md);
    transition: all var(--transition);
}

.nav-icon-btn {
    background: var(--secondary);
    color: var(--text-primary);
    height: 45px;
    width: 45px;
    font-size: 20px !important;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 2px solid var(--border);
    border-radius: 50%;
    padding: 0px;
    transition: all var(--transition);
}

.subscribe-btn {
    background: var(--sub);
    color: var(--secondary);
    border: 2px solid var(--sub);
    padding: 6px 20px;
    border-radius: 5px;
    font-weight: var(--fw-md);
    transition: all var(--transition);
}

.tab-btn {
    background: var(--secondary);
    color: var(--text-primary);
    border: 2px solid var(--border);
    padding: 6px 25px;
    border-radius: 20px;
    font-weight: var(--fw-md);
    transition: all var(--transition);
}

.add-cart-btn {
    background: var(--main);
    color: var(--secondary);
    border: 2px solid var(--main);
    padding: 6px 20px;
    border-radius: 20px;
    font-weight: var(--fw-md);
    transition: all var(--transition);
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
}

.add-cart-btn-2 {
    background: var(--main);
    color: var(--secondary);
    border: 2px solid var(--main);
    padding: 6px 20px;
    border-radius: 5px;
    font-weight: var(--fw-md);
    transition: all var(--transition);
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
}

.buy-btn {
    background: var(--secondary);
    color: var(--text-primary);
    border: 2px solid var(--main);
    padding: 7px 20px;
    border-radius: 5px;
    font-weight: var(--fw-md);
    transition: all var(--transition);
}

.cart-btn {
    background: var(--main);
    color: var(--secondary);
    border: 2px solid var(--main);
    padding: 7px 20px;
    border-radius: 5px;
    font-weight: var(--fw-md);
    transition: all var(--transition);
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.form-btn {
    background: var(--main);
    color: var(--secondary);
    border: 2px solid var(--main);
    padding: 6px 20px;
    border-radius: 5px;
    font-weight: var(--fw-md);
    transition: all var(--transition);
}

/* Hover Effects */
.nav-btn:hover {
    background: var(--secondary);
    color: var(--text-primary);
}

.nav-icon-btn:hover {
    border: 2px solid var(--main);
}

.subscribe-btn:hover {
    background: var(--secondary);
    color: var(--text-primary);
    border: 2px solid var(--sub);
}

.tab-btn:hover,
.tab-btn.active,
.buy-btn:hover {
    background: var(--main);
    color: var(--secondary);
    border: 2px solid var(--main);
}

.form-btn:hover,
.add-cart-btn:hover,
.add-cart-btn-2:hover,
.cart-btn:hover {
    background: var(--secondary);
    color: var(--text-primary);
}

@media screen and (min-width: 767px) {

    .buy-btn,
    .cart-btn {
        font-size: 16px;
    }

    .nav-btn,
    .subscribe-btn,
    .tab-btn,
    .add-cart-btn,
    .add-cart-btn-2,
    .form-btn {
        font-size: 14px;
    }
}

@media screen and (max-width: 767px) {

    .buy-btn,
    .cart-btn {
        font-size: 12px;
    }

    .nav-btn,
    .subscribe-btn,
    .tab-btn,
    .add-cart-btn,
    .add-cart-btn-2,
    .form-btn {
        font-size: 12px;
    }
}