.nav-btn {
    background: var(--main);
    color: var(--secondary);
    border: 2px solid var(--main);
    padding: 6px 20px;
    border-radius: 5px;
    font-size: 14px;
    font-weight: var(--fw-md);
    transition: all var(--transition);
}

.nav-icon-btn {
    background: var(--secondary);
    color: var(--text-primary);
    height: 45px;
    width: 45px;
    font-size: 20px !important;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 2px solid var(--border);
    border-radius: 50%;
    padding: 0px;
    transition: all var(--transition);
}

.subscribe-btn {
    background: var(--sub);
    color: var(--secondary);
    border: 2px solid var(--sub);
    padding: 6px 20px;
    border-radius: 5px;
    font-size: 14px;
    font-weight: var(--fw-md);
    transition: all var(--transition);
}

/* Hover Effects */
.nav-btn:hover {
    background: var(--secondary);
    color: var(--text-primary);
}

.nav-icon-btn:hover {
    border: 2px solid var(--main);
}